openapi: 3.0.1
info:
  title: API PdfRaster
  description: API PdfRaster v1.0
  termsOfService: https://termofservice.it
  x-api-id: api-pdf-raster
  x-summary: API PdfRaster
  version: '1.0.0'
  contact:
    name: "PN PagoPA"
    email: pn@pagopa.it
  license:
    name: PN software license
    url: 'https://www.pn.pagopa.it/LICENSE'
servers:
  - url: https://api.pn.pagopa.it
    description: Server url
paths:
################################################################################################
###                                      PDF RASTER API                                      ###
################################################################################################

  '/pdf-raster/convert/{fileKey}':
    parameters:
      - $ref: '#/components/parameters/fileKey'
    get:
      operationId: convertPdf
      tags:
        - Pdf Raster
      summary: Converti i documenti tramite la filekey
      description: Operazione necessaria alla conversione dei documenti
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
               $ref: '#/components/schemas/PdfRasterResponse'
        '404':
          description: Nessun documento trovato per la FileKey indicata
        '403':
          description: Non autorizzato all'operazione di conversione
        '400':
          description: Richiesta non validata correttamente
        '500':
          description: Internal Server Error

components:
  parameters:
    fileKey:
      name: fileKey
      description: File Key utilizzata per recuperare l'attachment
      in: path
      required: true
      schema:
        type: string
      example: '8F7E/9A3B/1234/AB87'

  schemas:
    PdfRasterResponse:
      description: Dto di response contenente la nuova FileKey allocata su SafeStorage
      type: object
      properties:
        newFileKey:
          type: string
          description: Nuova FileKey restituita da SafeStorage


    FileCreationResponse:
      description: Informazioni necessarie a caricare il contenuto di un file
      type: object
      required:
        - uploadMethod
        - uploadUrl
        - secret
        - key
      properties:
        uploadMethod:
          type: string
          enum: [ 'PUT', 'POST' ]
          description: >-
            Indica se per l'upload del contenuto file bisogna utilizzare il metodo PUT o POST
        uploadUrl:
          type: string
          description: >-
            URL a cui effettuare l'upload del contenuto del documento.
          example: 'https://preloadpn.aws.amazon.......'
        secret:
          type: string
          description: >-
            __discutibile__ Token aggiuntivo per far si che sia necessario intercettare anche gli 
            header e non solo l'URL di upload del contenuto del documento.
          example: AZ23RF12
        key:
          type: string
          description: >-
            la chiave restituita deve essere globalmente unica per installazione di SafeStorage e 
            persistente attraverso i processi di disaster recovery.
          example: '8F7E/9A3B/1234/AB87'


    FileDownloadResponse:
      description: Informazioni necessarie al download del contenuto di un file
      allOf:
        - $ref: '#/components/schemas/FileCreatedDto'
        - type: object
          properties:
            download:
              $ref: '#/components/schemas/FileDownloadInfo'


    FileCreatedDto:
      description: >-
        Evento generato quando il contenuto di un file è stato caricato, elaborato da 
        _SafeStorage_, ed è pronto all'uso.
      type: object
      required:
        - key
        - versionId
        - contentType
        - contentLength
        - checksum
        - documentType
        - documentStatus
        - retentionUntil
      properties:
        key:
          type: string
          description: la chiave da utilizzare per il recupero del file
          example: '8F7E/9A3B/1234/AB87'
        versionId:
          type: string
          description: __discutibile__. La versione del file su S3
          example: '3Z9SdhZ50PBeIj617KEMrztNKDMJj8FZ'
        documentType:
          type: string
          description: Il tipo del documento
          example: PN_NOTIFICATION_ATTACHMENTS
        documentStatus:
          type: string
          description: Lo stato del documento
          example: ATTACHED
        contentType:
          type: string
          example: 'application/pdf'
        contentLength:
          type: number
          format: decimal32
          example: 54092
          description: dmensione, in byte, del contenuto.
        checksum:
          type: string
          description: >-
            SHA256 o MD5 del contenuto del file. Il tipo di checksum cambia a seconda del 
            documentType.
        retentionUntil:
          type: string
          format: date-time
          description: >-
            data e ora fino a cui il documento sarà garantito all'interno di _SafeStorage_. <br/>
            Può essere ritardata nel tempo, mai anticipata. Formattata con timezone secondo l'rfc 3339


    FileDownloadInfo:
      type: object
      properties:
        url:
          type: string
          description: >-
            URL preautorizzato a cui effettuare una richiesta GET per ottenere il 
            contenuto del documento. Presente solo se il documento è pronto per il download.
        retryAfter:
          type: number
          format: decimal32
          description: >-
            Stima del numero di secondi da aspettare prima che il contenuto del 
            documento sia scaricabile.

    FileCreationRequest:
      description: Richiesta di autorizzazione a caricare un nuovo file
      type: object
      required:
        - contentType
        - documentType
        - status
      properties:
        contentType:
          type: string
          description: Il MIME format del contenuto del file che si intende caricare
          example: 'application/pdf'
        documentType:
          type: string
          description: >-
            Il tipo di documento da caricare; definisce diritti di accesso e tempo 
            di permanenza del file all'interno di _SafeStorage_
          example: 'PN_NOTIFICATION_ATTACHMENTS'
        status:
          type: string
          description: >-
            lo stato del documento, ne definisce il tempo di permanenza all'interno 
            di _SafeStorage_.
          example: PRELOADED