openapi: 3.0.1
info:
  title: API PdfRaster
  description: API PdfRaster v1.0
  termsOfService: https://termofservice.it
  x-api-id: api-pdf-raster
  x-summary: API PdfRaster
  version: '1.0.0'
  contact:
    name: "PN PagoPA"
    email: pn@pagopa.it
  license:
    name: PN software license
    url: 'https://www.pn.pagopa.it/LICENSE'
servers:
  - url: https://api.pn.pagopa.it
    description: Server url
paths:
################################################################################################
###                                      PDF RASTER API                                      ###
################################################################################################

  '/pdf-raster/convert':
    post:
      operationId: convertPdf
      tags:
        - Pdf Raster
      summary: Converte il documento in input
      description: Operazione necessaria alla conversione dei documenti
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              properties:
                file:
                  type: string
                  format: binary
                  description: The PDF file to upload
      responses:
        '200':
          description: OK
          content:
            application/pdf:
              schema:
                type: string
                format: binary
                description: The generated PDF file
        '400':
          description: Richiesta non validata correttamente
        '500':
          description: Internal Server Error

