openapi: 3.0.3
info:
  title: PN Template BE Microservice
  description: Documentation APIs v1.0
  termsOfService: https://termofservice.it
  x-api-id: api-internal-template
  x-summary: 'Piattaforma Notifiche: API template'
  version: '1.0.0'
  contact:
    email: pn@pagopa.it
  license:
    name: Licenza di PN
    url: 'https://da-definire/'
servers:
  - url: https://api.pn.pagopa.it
    description: Generated server url
paths:
  '/status':
    get:
      summary: healthCheck path
      description: health check path per verificare lo stato del micro servizio
      tags:
        - HealthCheck
      operationId: status
      responses:
        '200':
          description: Ok
        '500':
          description: Internal Server Error
  '/template/api/httpheaders':
    get:
      summary: Build a map of all the Http Header for the request
      operationId: getHttpHeadersMap
      tags:
        - TemplateSample
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                  type: object
                  additionalProperties:
                    type: array
                    items:
                      type: string
        '500':
            description: InternalServerError
            content:
              application/problem+json:
                schema:
                  $ref: 'remote-refs.yaml#/components/schemas/Problem'
components:
  schemas:
    MockResponse:
      title: Identificativi della richiesta di notifica
      description: >-
        Contiene le informazioni per identificare una richiesta di invio notifica
        che non è ancora stata accettata da Piattaforma notifiche.
      type: object
      required:
        - notificationRequestId
        - paProtocolNumber
      properties:
        notificationRequestId:
          type: string
          description: >-
            identificativo univoco di una richiesta di invio notifica, non è lo IUN
          maxLength: 36
          pattern: ^[A-Za-z0-9+/=]{36}$

#  securitySchemes:        # ONLY EXTERNAL
#    ApiKeyAuth:           # ONLY EXTERNAL
#      type: apiKey        # ONLY EXTERNAL
#      in: header          # ONLY EXTERNAL
#      name: x-api-key     # ONLY EXTERNAL

#security:                 # ONLY EXTERNAL
#  - ApiKeyAuth: [] # use the same name as under securitySchemes    # ONLY EXTERNAL